<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<title>Painel Administrativo</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>

body{

background:#111827;

color:white;

font-family:Arial;

padding:30px;

}

.card{

background:#1f2937;

padding:20px;

margin-bottom:20px;

border-radius:12px;

}

h1{

text-align:center;

}

.valor{

font-size:30px;

font-weight:bold;

}
canvas{

    width:100% !important;
    height:350px !important;

}
</style>

</head>

<body>

<h1>📊 Painel Administrativo</h1>

<div class="card">

<h2>🌀 Peltier</h2>

<div class="valor">

{{ acionamentos_peltier }} acionamentos

</div>

Tempo ligada:

<b>{{ tempo_peltier }}</b>

</div>

<div class="card">

<h2>💧 Umidificador</h2>

<div class="valor">

{{ acionamentos_umidificador }} acionamentos

</div>

Tempo ligado:

<b>{{ tempo_umidificador }}</b>

</div>

<div class="card">

<h2>💡 Lâmpada</h2>

<div class="valor">

{{ acionamentos_lampada }} acionamentos

</div>

Tempo ligada:

<b>{{ tempo_lampada }}</b>

</div>
<div class="card">

<h2>📈 Histórico dos Atuadores</h2>

<canvas id="graficoAcionamentos"></canvas>

</div>
<script>

const labels = [

{% for item in historico %}

"{{ item.data|date:'H:i:s' }}",

{% endfor %}

];

const peltier = [

{% for item in historico %}

{{ item.ventoinha|yesno:"1,0" }},

{% endfor %}

];

const umidificador = [

{% for item in historico %}

{{ item.umidificador|yesno:"1,0" }},

{% endfor %}

];

const lampada = [

{% for item in historico %}

{{ item.lampada|yesno:"1,0" }},

{% endfor %}

];

new Chart(document.getElementById("graficoAcionamentos"),{

type:"line",

data:{

labels:labels,

datasets:[

{

label:"Peltier",

data:peltier,

borderColor:"#3b82f6",

backgroundColor:"#3b82f6",

borderWidth:3,

fill:false,

stepped:true

},

{

label:"Umidificador",

data:umidificador,

borderColor:"#22c55e",

backgroundColor:"#22c55e",

borderWidth:3,

fill:false,

stepped:true

},

{

label:"Lâmpada",

data:lampada,

borderColor:"#f59e0b",

backgroundColor:"#f59e0b",

borderWidth:3,

fill:false,

stepped:true

}

]

},

options:{

responsive:true,

plugins:{

legend:{

labels:{

color:"white"

}

}

},

scales:{

x:{

ticks:{

color:"white"

}

},

y:{

min:0,

max:1,

ticks:{

stepSize:1,

color:"white",

callback:function(value){

return value==1?"Ligado":"Desligado";

}

}

}

}

}

});

</script>
</body>

</html>