<!DOCTYPE html>
<html>

<head>

<title>Login Administrativo</title>

<style>

body{

background:#0f172a;

font-family:Arial;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

form{

background:#1e293b;

padding:40px;

border-radius:15px;

width:300px;

}

input{

width:100%;

padding:10px;

margin:10px 0;

}

button{

width:100%;

padding:10px;

}

</style>

</head>

<body>

<form method="POST">

{% csrf_token %}

<h2>Área Administrativa</h2>

<input
type="text"
name="usuario"
placeholder="Usuário">

<input
type="password"
name="senha"
placeholder="Senha">

<button>Entrar</button>

</form>

</body>

</html>